书中案例dsl/book.022 插件应用ChatFlow.yml
app:
  description: ''
  icon: package
  icon_background: '#D5F5F6'
  mode: advanced-chat
  name: book.022 插件应用ChatFlow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: rainlzm/phone_query:0.0.1@7f29f71f7ccdec39ca9fe06c4fee838f686f77ecf577ddf655d9f44f26363565
kind: app
version: 0.2.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1751529572718-source-1751529814327-target
      selected: false
      source: '1751529572718'
      sourceHandle: source
      target: '1751529814327'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: template-transform
      id: 1751529814327-source-1751529946013-target
      selected: false
      source: '1751529814327'
      sourceHandle: source
      target: '1751529946013'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: tool
      id: 1751529946013-source-1751530097959-target
      selected: false
      source: '1751529946013'
      sourceHandle: source
      target: '1751530097959'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1751530097959-source-answer-target
      selected: false
      source: '1751530097959'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 53
      id: '1751529572718'
      position:
        x: 121
        y: 303
      positionAbsolute:
        x: 121
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1751529946013.output#}}

          {{#1751530097959.files#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 123
      id: answer
      position:
        x: 664
        y: 303
      positionAbsolute:
        x: 664
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: please input phone or mobile number
            ja_JP: please input phone or mobile number
            pt_BR: please input phone or mobile number
            zh_Hans: 请输入电话或手机号码
          label:
            en_US: Phone or mobile number
            ja_JP: Phone or mobile number
            pt_BR: Phone or mobile number
            zh_Hans: 电话或手机号码
          llm_description: please input phone or mobile number
          max: null
          min: null
          name: number
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          number: ''
        provider_id: rainlzm/phone_query/dify-plugin-phone
        provider_name: rainlzm/phone_query/dify-plugin-phone
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        title: 查询归属地和运营商
        tool_configurations: {}
        tool_description: 电话或手机号码查询归属、运营商等
        tool_label: 查询归属地和运营商
        tool_name: phone_region
        tool_parameters:
          number:
            type: mixed
            value: '{{#sys.query#}}'
        type: tool
      height: 53
      id: '1751529814327'
      position:
        x: 121
        y: 389
      positionAbsolute:
        x: 121
        y: 389
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: '{{ object[0].operator }}'
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1751529814327'
          - json
          variable: object
      height: 53
      id: '1751529946013'
      position:
        x: 121
        y: 475.5056838989258
      positionAbsolute:
        x: 121
        y: 475.5056838989258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The text to be converted.
            ja_JP: The text to be converted.
            pt_BR: The text to be converted.
            zh_Hans: 要转换的文本。
          label:
            en_US: Text
            ja_JP: Text
            pt_BR: Text
            zh_Hans: 文本
          llm_description: The text to be converted.
          max: null
          min: null
          name: text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: All available TTS models. You can config model in the Model Provider
              of Settings.
            ja_JP: All available TTS models. You can config model in the Model Provider
              of Settings.
            pt_BR: All available TTS models. You can config model in the Model Provider
              of Settings.
            zh_Hans: 所有可用的 TTS 模型。你可以在设置中的模型供应商里配置。
          label:
            en_US: Model
            ja_JP: Model
            pt_BR: Model
            zh_Hans: Model
          llm_description: null
          max: null
          min: null
          name: model
          options:
          - label:
              en_US: tts-1-hd(langgenius/openai/openai)
              ja_JP: tts-1-hd(langgenius/openai/openai)
              pt_BR: tts-1-hd(langgenius/openai/openai)
              zh_Hans: tts-1-hd(langgenius/openai/openai)
            value: langgenius/openai/openai#tts-1-hd
          - label:
              en_US: tts-1(langgenius/openai/openai)
              ja_JP: tts-1(langgenius/openai/openai)
              pt_BR: tts-1(langgenius/openai/openai)
              zh_Hans: tts-1(langgenius/openai/openai)
            value: langgenius/openai/openai#tts-1
          - label:
              en_US: FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
              ja_JP: FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
              pt_BR: FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
              zh_Hans: FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
            value: langgenius/siliconflow/siliconflow#FunAudioLLM/CosyVoice2-0.5B
          - label:
              en_US: fishaudio/fish-speech-1.4(langgenius/siliconflow/siliconflow)
              ja_JP: fishaudio/fish-speech-1.4(langgenius/siliconflow/siliconflow)
              pt_BR: fishaudio/fish-speech-1.4(langgenius/siliconflow/siliconflow)
              zh_Hans: fishaudio/fish-speech-1.4(langgenius/siliconflow/siliconflow)
            value: langgenius/siliconflow/siliconflow#fishaudio/fish-speech-1.4
          - label:
              en_US: fishaudio/fish-speech-1.5(langgenius/siliconflow/siliconflow)
              ja_JP: fishaudio/fish-speech-1.5(langgenius/siliconflow/siliconflow)
              pt_BR: fishaudio/fish-speech-1.5(langgenius/siliconflow/siliconflow)
              zh_Hans: fishaudio/fish-speech-1.5(langgenius/siliconflow/siliconflow)
            value: langgenius/siliconflow/siliconflow#fishaudio/fish-speech-1.5
          - label:
              en_US: RVC-Boss/GPT-SoVITS(langgenius/siliconflow/siliconflow)
              ja_JP: RVC-Boss/GPT-SoVITS(langgenius/siliconflow/siliconflow)
              pt_BR: RVC-Boss/GPT-SoVITS(langgenius/siliconflow/siliconflow)
              zh_Hans: RVC-Boss/GPT-SoVITS(langgenius/siliconflow/siliconflow)
            value: langgenius/siliconflow/siliconflow#RVC-Boss/GPT-SoVITS
          - label:
              en_US: tts-1(langgenius/tongyi/tongyi)
              ja_JP: tts-1(langgenius/tongyi/tongyi)
              pt_BR: tts-1(langgenius/tongyi/tongyi)
              zh_Hans: tts-1(langgenius/tongyi/tongyi)
            value: langgenius/tongyi/tongyi#tts-1
          placeholder:
            en_US: Select a model
            ja_JP: Select a model
            pt_BR: Select a model
            zh_Hans: 选择模型
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Select a voice for tts-1-hd model
            ja_JP: Select a voice for tts-1-hd model
            pt_BR: Select a voice for tts-1-hd model
            zh_Hans: Select a voice for tts-1-hd model
          label:
            en_US: Voice of tts-1-hd(langgenius/openai/openai)
            ja_JP: Voice of tts-1-hd(langgenius/openai/openai)
            pt_BR: Voice of tts-1-hd(langgenius/openai/openai)
            zh_Hans: Voice of tts-1-hd(langgenius/openai/openai)
          llm_description: null
          max: null
          min: null
          name: voice#langgenius/openai/openai#tts-1-hd
          options:
          - label:
              en_US: Alloy
              ja_JP: Alloy
              pt_BR: Alloy
              zh_Hans: Alloy
            value: alloy
          - label:
              en_US: Echo
              ja_JP: Echo
              pt_BR: Echo
              zh_Hans: Echo
            value: echo
          - label:
              en_US: Fable
              ja_JP: Fable
              pt_BR: Fable
              zh_Hans: Fable
            value: fable
          - label:
              en_US: Onyx
              ja_JP: Onyx
              pt_BR: Onyx
              zh_Hans: Onyx
            value: onyx
          - label:
              en_US: Nova
              ja_JP: Nova
              pt_BR: Nova
              zh_Hans: Nova
            value: nova
          - label:
              en_US: Shimmer
              ja_JP: Shimmer
              pt_BR: Shimmer
              zh_Hans: Shimmer
            value: shimmer
          placeholder:
            en_US: Select a voice
            ja_JP: Select a voice
            pt_BR: Select a voice
            zh_Hans: Select a voice
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Select a voice for tts-1 model
            ja_JP: Select a voice for tts-1 model
            pt_BR: Select a voice for tts-1 model
            zh_Hans: Select a voice for tts-1 model
          label:
            en_US: Voice of tts-1(langgenius/openai/openai)
            ja_JP: Voice of tts-1(langgenius/openai/openai)
            pt_BR: Voice of tts-1(langgenius/openai/openai)
            zh_Hans: Voice of tts-1(langgenius/openai/openai)
          llm_description: null
          max: null
          min: null
          name: voice#langgenius/openai/openai#tts-1
          options:
          - label:
              en_US: Alloy
              ja_JP: Alloy
              pt_BR: Alloy
              zh_Hans: Alloy
            value: alloy
          - label:
              en_US: Echo
              ja_JP: Echo
              pt_BR: Echo
              zh_Hans: Echo
            value: echo
          - label:
              en_US: Fable
              ja_JP: Fable
              pt_BR: Fable
              zh_Hans: Fable
            value: fable
          - label:
              en_US: Onyx
              ja_JP: Onyx
              pt_BR: Onyx
              zh_Hans: Onyx
            value: onyx
          - label:
              en_US: Nova
              ja_JP: Nova
              pt_BR: Nova
              zh_Hans: Nova
            value: nova
          - label:
              en_US: Shimmer
              ja_JP: Shimmer
              pt_BR: Shimmer
              zh_Hans: Shimmer
            value: shimmer
          placeholder:
            en_US: Select a voice
            ja_JP: Select a voice
            pt_BR: Select a voice
            zh_Hans: Select a voice
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Select a voice for FunAudioLLM/CosyVoice2-0.5B model
            ja_JP: Select a voice for FunAudioLLM/CosyVoice2-0.5B model
            pt_BR: Select a voice for FunAudioLLM/CosyVoice2-0.5B model
            zh_Hans: Select a voice for FunAudioLLM/CosyVoice2-0.5B model
          label:
            en_US: Voice of FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
            ja_JP: Voice of FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
            pt_BR: Voice of FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
            zh_Hans: Voice of FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
          llm_description: null
          max: null
          min: null
          name: voice#langgenius/siliconflow/siliconflow#FunAudioLLM/CosyVoice2-0.5B
          options:
          - label:
              en_US: Alex（男声）
              ja_JP: Alex（男声）
              pt_BR: Alex（男声）
              zh_Hans: Alex（男声）
            value: FunAudioLLM/CosyVoice2-0.5B:alex
          - label:
              en_US: Benjamin（男声）
              ja_JP: Benjamin（男声）
              pt_BR: Benjamin（男声）
              zh_Hans: Benjamin（男声）
            value: FunAudioLLM/CosyVoice2-0.5B:benjamin
          - label:
              en_US: Charles（男声）
              ja_JP: Charles（男声）
              pt_BR: Charles（男声）
              zh_Hans: Charles（男声）
            value: FunAudioLLM/CosyVoice2-0.5B:charles
          - label:
              en_US: David（男声）
              ja_JP: David（男声）
              pt_BR: David（男声）
              zh_Hans: David（男声）
            value: FunAudioLLM/CosyVoice2-0.5B:david
          - label:
              en_US: Anna（女声）
              ja_JP: Anna（女声）
              pt_BR: Anna（女声）
              zh_Hans: Anna（女声）
            value: FunAudioLLM/CosyVoice2-0.5B:anna
          - label:
              en_US: Bella（女声）
              ja_JP: Bella（女声）
              pt_BR: Bella（女声）
              zh_Hans: Bella（女声）
            value: FunAudioLLM/CosyVoice2-0.5B:bella
          - label:
              en_US: Claire（女声）
              ja_JP: Claire（女声）
              pt_BR: Claire（女声）
              zh_Hans: Claire（女声）
            value: FunAudioLLM/CosyVoice2-0.5B:claire
          - label:
              en_US: Diana（女声）
              ja_JP: Diana（女声）
              pt_BR: Diana（女声）
              zh_Hans: Diana（女声）
            value: FunAudioLLM/CosyVoice2-0.5B:diana
          placeholder:
            en_US: Select a voice
            ja_JP: Select a voice
            pt_BR: Select a voice
            zh_Hans: Select a voice
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Select a voice for fishaudio/fish-speech-1.4 model
            ja_JP: Select a voice for fishaudio/fish-speech-1.4 model
            pt_BR: Select a voice for fishaudio/fish-speech-1.4 model
            zh_Hans: Select a voice for fishaudio/fish-speech-1.4 model
          label:
            en_US: Voice of fishaudio/fish-speech-1.4(langgenius/siliconflow/siliconflow)
            ja_JP: Voice of fishaudio/fish-speech-1.4(langgenius/siliconflow/siliconflow)
            pt_BR: Voice of fishaudio/fish-speech-1.4(langgenius/siliconflow/siliconflow)
            zh_Hans: Voice of fishaudio/fish-speech-1.4(langgenius/siliconflow/siliconflow)
          llm_description: null
          max: null
          min: null
          name: voice#langgenius/siliconflow/siliconflow#fishaudio/fish-speech-1.4
          options:
          - label:
              en_US: Alex（男声）
              ja_JP: Alex（男声）
              pt_BR: Alex（男声）
              zh_Hans: Alex（男声）
            value: fishaudio/fish-speech-1.4:alex
          - label:
              en_US: Benjamin（男声）
              ja_JP: Benjamin（男声）
              pt_BR: Benjamin（男声）
              zh_Hans: Benjamin（男声）
            value: fishaudio/fish-speech-1.4:benjamin
          - label:
              en_US: Charles（男声）
              ja_JP: Charles（男声）
              pt_BR: Charles（男声）
              zh_Hans: Charles（男声）
            value: fishaudio/fish-speech-1.4:charles
          - label:
              en_US: David（男声）
              ja_JP: David（男声）
              pt_BR: David（男声）
              zh_Hans: David（男声）
            value: fishaudio/fish-speech-1.4:david
          - label:
              en_US: Anna（女声）
              ja_JP: Anna（女声）
              pt_BR: Anna（女声）
              zh_Hans: Anna（女声）
            value: fishaudio/fish-speech-1.4:anna
          - label:
              en_US: Bella（女声）
              ja_JP: Bella（女声）
              pt_BR: Bella（女声）
              zh_Hans: Bella（女声）
            value: fishaudio/fish-speech-1.4:bella
          - label:
              en_US: Claire（女声）
              ja_JP: Claire（女声）
              pt_BR: Claire（女声）
              zh_Hans: Claire（女声）
            value: fishaudio/fish-speech-1.4:claire
          - label:
              en_US: Diana（女声）
              ja_JP: Diana（女声）
              pt_BR: Diana（女声）
              zh_Hans: Diana（女声）
            value: fishaudio/fish-speech-1.4:diana
          placeholder:
            en_US: Select a voice
            ja_JP: Select a voice
            pt_BR: Select a voice
            zh_Hans: Select a voice
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Select a voice for fishaudio/fish-speech-1.5 model
            ja_JP: Select a voice for fishaudio/fish-speech-1.5 model
            pt_BR: Select a voice for fishaudio/fish-speech-1.5 model
            zh_Hans: Select a voice for fishaudio/fish-speech-1.5 model
          label:
            en_US: Voice of fishaudio/fish-speech-1.5(langgenius/siliconflow/siliconflow)
            ja_JP: Voice of fishaudio/fish-speech-1.5(langgenius/siliconflow/siliconflow)
            pt_BR: Voice of fishaudio/fish-speech-1.5(langgenius/siliconflow/siliconflow)
            zh_Hans: Voice of fishaudio/fish-speech-1.5(langgenius/siliconflow/siliconflow)
          llm_description: null
          max: null
          min: null
          name: voice#langgenius/siliconflow/siliconflow#fishaudio/fish-speech-1.5
          options:
          - label:
              en_US: Alex（男声）
              ja_JP: Alex（男声）
              pt_BR: Alex（男声）
              zh_Hans: Alex（男声）
            value: fishaudio/fish-speech-1.5:alex
          - label:
              en_US: Benjamin（男声）
              ja_JP: Benjamin（男声）
              pt_BR: Benjamin（男声）
              zh_Hans: Benjamin（男声）
            value: fishaudio/fish-speech-1.5:benjamin
          - label:
              en_US: Charles（男声）
              ja_JP: Charles（男声）
              pt_BR: Charles（男声）
              zh_Hans: Charles（男声）
            value: fishaudio/fish-speech-1.5:charles
          - label:
              en_US: David（男声）
              ja_JP: David（男声）
              pt_BR: David（男声）
              zh_Hans: David（男声）
            value: fishaudio/fish-speech-1.5:david
          - label:
              en_US: Anna（女声）
              ja_JP: Anna（女声）
              pt_BR: Anna（女声）
              zh_Hans: Anna（女声）
            value: fishaudio/fish-speech-1.5:anna
          - label:
              en_US: Bella（女声）
              ja_JP: Bella（女声）
              pt_BR: Bella（女声）
              zh_Hans: Bella（女声）
            value: fishaudio/fish-speech-1.5:bella
          - label:
              en_US: Claire（女声）
              ja_JP: Claire（女声）
              pt_BR: Claire（女声）
              zh_Hans: Claire（女声）
            value: fishaudio/fish-speech-1.5:claire
          - label:
              en_US: Diana（女声）
              ja_JP: Diana（女声）
              pt_BR: Diana（女声）
              zh_Hans: Diana（女声）
            value: fishaudio/fish-speech-1.5:diana
          placeholder:
            en_US: Select a voice
            ja_JP: Select a voice
            pt_BR: Select a voice
            zh_Hans: Select a voice
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Select a voice for RVC-Boss/GPT-SoVITS model
            ja_JP: Select a voice for RVC-Boss/GPT-SoVITS model
            pt_BR: Select a voice for RVC-Boss/GPT-SoVITS model
            zh_Hans: Select a voice for RVC-Boss/GPT-SoVITS model
          label:
            en_US: Voice of RVC-Boss/GPT-SoVITS(langgenius/siliconflow/siliconflow)
            ja_JP: Voice of RVC-Boss/GPT-SoVITS(langgenius/siliconflow/siliconflow)
            pt_BR: Voice of RVC-Boss/GPT-SoVITS(langgenius/siliconflow/siliconflow)
            zh_Hans: Voice of RVC-Boss/GPT-SoVITS(langgenius/siliconflow/siliconflow)
          llm_description: null
          max: null
          min: null
          name: voice#langgenius/siliconflow/siliconflow#RVC-Boss/GPT-SoVITS
          options:
          - label:
              en_US: Alex（男声）
              ja_JP: Alex（男声）
              pt_BR: Alex（男声）
              zh_Hans: Alex（男声）
            value: RVC-Boss/GPT-SoVITS:alex
          - label:
              en_US: Benjamin（男声）
              ja_JP: Benjamin（男声）
              pt_BR: Benjamin（男声）
              zh_Hans: Benjamin（男声）
            value: RVC-Boss/GPT-SoVITS:benjamin
          - label:
              en_US: Charles（男声）
              ja_JP: Charles（男声）
              pt_BR: Charles（男声）
              zh_Hans: Charles（男声）
            value: RVC-Boss/GPT-SoVITS:charles
          - label:
              en_US: David（男声）
              ja_JP: David（男声）
              pt_BR: David（男声）
              zh_Hans: David（男声）
            value: RVC-Boss/GPT-SoVITS:david
          - label:
              en_US: Anna（女声）
              ja_JP: Anna（女声）
              pt_BR: Anna（女声）
              zh_Hans: Anna（女声）
            value: RVC-Boss/GPT-SoVITS:anna
          - label:
              en_US: Bella（女声）
              ja_JP: Bella（女声）
              pt_BR: Bella（女声）
              zh_Hans: Bella（女声）
            value: RVC-Boss/GPT-SoVITS:bella
          - label:
              en_US: Claire（女声）
              ja_JP: Claire（女声）
              pt_BR: Claire（女声）
              zh_Hans: Claire（女声）
            value: RVC-Boss/GPT-SoVITS:claire
          - label:
              en_US: Diana（女声）
              ja_JP: Diana（女声）
              pt_BR: Diana（女声）
              zh_Hans: Diana（女声）
            value: RVC-Boss/GPT-SoVITS:diana
          placeholder:
            en_US: Select a voice
            ja_JP: Select a voice
            pt_BR: Select a voice
            zh_Hans: Select a voice
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Select a voice for tts-1 model
            ja_JP: Select a voice for tts-1 model
            pt_BR: Select a voice for tts-1 model
            zh_Hans: Select a voice for tts-1 model
          label:
            en_US: Voice of tts-1(langgenius/tongyi/tongyi)
            ja_JP: Voice of tts-1(langgenius/tongyi/tongyi)
            pt_BR: Voice of tts-1(langgenius/tongyi/tongyi)
            zh_Hans: Voice of tts-1(langgenius/tongyi/tongyi)
          llm_description: null
          max: null
          min: null
          name: voice#langgenius/tongyi/tongyi#tts-1
          options:
          - label:
              en_US: 知楠（广告男声）
              ja_JP: 知楠（广告男声）
              pt_BR: 知楠（广告男声）
              zh_Hans: 知楠（广告男声）
            value: sambert-zhinan-v1
          - label:
              en_US: 知琪（温柔女声）
              ja_JP: 知琪（温柔女声）
              pt_BR: 知琪（温柔女声）
              zh_Hans: 知琪（温柔女声）
            value: sambert-zhiqi-v1
          - label:
              en_US: 知厨（新闻播报）
              ja_JP: 知厨（新闻播报）
              pt_BR: 知厨（新闻播报）
              zh_Hans: 知厨（新闻播报）
            value: sambert-zhichu-v1
          - label:
              en_US: 知德（新闻男声）
              ja_JP: 知德（新闻男声）
              pt_BR: 知德（新闻男声）
              zh_Hans: 知德（新闻男声）
            value: sambert-zhide-v1
          - label:
              en_US: 知佳（标准女声）
              ja_JP: 知佳（标准女声）
              pt_BR: 知佳（标准女声）
              zh_Hans: 知佳（标准女声）
            value: sambert-zhijia-v1
          - label:
              en_US: 知茹（新闻女声）
              ja_JP: 知茹（新闻女声）
              pt_BR: 知茹（新闻女声）
              zh_Hans: 知茹（新闻女声）
            value: sambert-zhiru-v1
          - label:
              en_US: 知倩（配音解说、新闻播报）
              ja_JP: 知倩（配音解说、新闻播报）
              pt_BR: 知倩（配音解说、新闻播报）
              zh_Hans: 知倩（配音解说、新闻播报）
            value: sambert-zhiqian-v1
          - label:
              en_US: 知祥（配音解说）
              ja_JP: 知祥（配音解说）
              pt_BR: 知祥（配音解说）
              zh_Hans: 知祥（配音解说）
            value: sambert-zhixiang-v1
          - label:
              en_US: 知薇（萝莉女声）
              ja_JP: 知薇（萝莉女声）
              pt_BR: 知薇（萝莉女声）
              zh_Hans: 知薇（萝莉女声）
            value: sambert-zhiwei-v1
          - label:
              en_US: 知浩（咨询男声）
              ja_JP: 知浩（咨询男声）
              pt_BR: 知浩（咨询男声）
              zh_Hans: 知浩（咨询男声）
            value: sambert-zhihao-v1
          - label:
              en_US: 知婧（严厉女声）
              ja_JP: 知婧（严厉女声）
              pt_BR: 知婧（严厉女声）
              zh_Hans: 知婧（严厉女声）
            value: sambert-zhijing-v1
          - label:
              en_US: 知茗（诙谐男声）
              ja_JP: 知茗（诙谐男声）
              pt_BR: 知茗（诙谐男声）
              zh_Hans: 知茗（诙谐男声）
            value: sambert-zhiming-v1
          - label:
              en_US: 知墨（情感男声）
              ja_JP: 知墨（情感男声）
              pt_BR: 知墨（情感男声）
              zh_Hans: 知墨（情感男声）
            value: sambert-zhimo-v1
          - label:
              en_US: 知娜（浙普女声）
              ja_JP: 知娜（浙普女声）
              pt_BR: 知娜（浙普女声）
              zh_Hans: 知娜（浙普女声）
            value: sambert-zhina-v1
          - label:
              en_US: 知树（资讯男声）
              ja_JP: 知树（资讯男声）
              pt_BR: 知树（资讯男声）
              zh_Hans: 知树（资讯男声）
            value: sambert-zhishu-v1
          - label:
              en_US: 知莎（知性女声）
              ja_JP: 知莎（知性女声）
              pt_BR: 知莎（知性女声）
              zh_Hans: 知莎（知性女声）
            value: sambert-zhistella-v1
          - label:
              en_US: 知婷（电台女声）
              ja_JP: 知婷（电台女声）
              pt_BR: 知婷（电台女声）
              zh_Hans: 知婷（电台女声）
            value: sambert-zhiting-v1
          - label:
              en_US: 知笑（资讯女声）
              ja_JP: 知笑（资讯女声）
              pt_BR: 知笑（资讯女声）
              zh_Hans: 知笑（资讯女声）
            value: sambert-zhixiao-v1
          - label:
              en_US: 知雅（严厉女声）
              ja_JP: 知雅（严厉女声）
              pt_BR: 知雅（严厉女声）
              zh_Hans: 知雅（严厉女声）
            value: sambert-zhiya-v1
          - label:
              en_US: 知晔（青年男声）
              ja_JP: 知晔（青年男声）
              pt_BR: 知晔（青年男声）
              zh_Hans: 知晔（青年男声）
            value: sambert-zhiye-v1
          - label:
              en_US: 知颖（软萌童声）
              ja_JP: 知颖（软萌童声）
              pt_BR: 知颖（软萌童声）
              zh_Hans: 知颖（软萌童声）
            value: sambert-zhiying-v1
          - label:
              en_US: 知媛（知心姐姐）
              ja_JP: 知媛（知心姐姐）
              pt_BR: 知媛（知心姐姐）
              zh_Hans: 知媛（知心姐姐）
            value: sambert-zhiyuan-v1
          - label:
              en_US: 知柜（直播女声）
              ja_JP: 知柜（直播女声）
              pt_BR: 知柜（直播女声）
              zh_Hans: 知柜（直播女声）
            value: sambert-zhigui-v1
          - label:
              en_US: 知硕（自然男声）
              ja_JP: 知硕（自然男声）
              pt_BR: 知硕（自然男声）
              zh_Hans: 知硕（自然男声）
            value: sambert-zhishuo-v1
          - label:
              en_US: 知妙（多种情感女声）
              ja_JP: 知妙（多种情感女声）
              pt_BR: 知妙（多种情感女声）
              zh_Hans: 知妙（多种情感女声）
            value: sambert-zhimiao-emo-v1
          - label:
              en_US: 知猫（直播女声）
              ja_JP: 知猫（直播女声）
              pt_BR: 知猫（直播女声）
              zh_Hans: 知猫（直播女声）
            value: sambert-zhimao-v1
          - label:
              en_US: 知伦（悬疑解说）
              ja_JP: 知伦（悬疑解说）
              pt_BR: 知伦（悬疑解说）
              zh_Hans: 知伦（悬疑解说）
            value: sambert-zhilun-v1
          - label:
              en_US: 知飞（激昂解说）
              ja_JP: 知飞（激昂解说）
              pt_BR: 知飞（激昂解说）
              zh_Hans: 知飞（激昂解说）
            value: sambert-zhifei-v1
          - label:
              en_US: 知达（标准男声）
              ja_JP: 知达（标准男声）
              pt_BR: 知达（标准男声）
              zh_Hans: 知达（标准男声）
            value: sambert-zhida-v1
          - label:
              en_US: Camila（西班牙语女声）
              ja_JP: Camila（西班牙语女声）
              pt_BR: Camila（西班牙语女声）
              zh_Hans: Camila（西班牙语女声）
            value: sambert-camila-v1
          - label:
              en_US: Perla（意大利语女声）
              ja_JP: Perla（意大利语女声）
              pt_BR: Perla（意大利语女声）
              zh_Hans: Perla（意大利语女声）
            value: sambert-perla-v1
          - label:
              en_US: Indah（印尼语女声）
              ja_JP: Indah（印尼语女声）
              pt_BR: Indah（印尼语女声）
              zh_Hans: Indah（印尼语女声）
            value: sambert-indah-v1
          - label:
              en_US: Clara（法语女声）
              ja_JP: Clara（法语女声）
              pt_BR: Clara（法语女声）
              zh_Hans: Clara（法语女声）
            value: sambert-clara-v1
          - label:
              en_US: Hanna（德语女声）
              ja_JP: Hanna（德语女声）
              pt_BR: Hanna（德语女声）
              zh_Hans: Hanna（德语女声）
            value: sambert-hanna-v1
          - label:
              en_US: Beth（咨询女声）
              ja_JP: Beth（咨询女声）
              pt_BR: Beth（咨询女声）
              zh_Hans: Beth（咨询女声）
            value: sambert-beth-v1
          - label:
              en_US: Betty（客服女声）
              ja_JP: Betty（客服女声）
              pt_BR: Betty（客服女声）
              zh_Hans: Betty（客服女声）
            value: sambert-betty-v1
          - label:
              en_US: Cally（自然女声）
              ja_JP: Cally（自然女声）
              pt_BR: Cally（自然女声）
              zh_Hans: Cally（自然女声）
            value: sambert-cally-v1
          - label:
              en_US: Cindy（对话女声）
              ja_JP: Cindy（对话女声）
              pt_BR: Cindy（对话女声）
              zh_Hans: Cindy（对话女声）
            value: sambert-cindy-v1
          - label:
              en_US: Eva（陪伴女声）
              ja_JP: Eva（陪伴女声）
              pt_BR: Eva（陪伴女声）
              zh_Hans: Eva（陪伴女声）
            value: sambert-eva-v1
          - label:
              en_US: Donna（教育女声）
              ja_JP: Donna（教育女声）
              pt_BR: Donna（教育女声）
              zh_Hans: Donna（教育女声）
            value: sambert-donna-v1
          - label:
              en_US: Brian（客服男声）
              ja_JP: Brian（客服男声）
              pt_BR: Brian（客服男声）
              zh_Hans: Brian（客服男声）
            value: sambert-brian-v1
          - label:
              en_US: Waan（泰语女声）
              ja_JP: Waan（泰语女声）
              pt_BR: Waan（泰语女声）
              zh_Hans: Waan（泰语女声）
            value: sambert-waan-v1
          placeholder:
            en_US: Select a voice
            ja_JP: Select a voice
            pt_BR: Select a voice
            zh_Hans: Select a voice
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          model: ''
          text: ''
          voice#langgenius/openai/openai#tts-1: ''
          voice#langgenius/openai/openai#tts-1-hd: ''
          voice#langgenius/siliconflow/siliconflow#FunAudioLLM/CosyVoice2-0.5B: ''
          voice#langgenius/siliconflow/siliconflow#RVC-Boss/GPT-SoVITS: ''
          voice#langgenius/siliconflow/siliconflow#fishaudio/fish-speech-1.4: ''
          voice#langgenius/siliconflow/siliconflow#fishaudio/fish-speech-1.5: ''
          voice#langgenius/tongyi/tongyi#tts-1: ''
        provider_id: audio
        provider_name: audio
        provider_type: builtin
        selected: false
        title: Text To Speech
        tool_configurations:
          model: langgenius/openai/openai#tts-1-hd
          voice#langgenius/openai/openai#tts-1: alloy
          voice#langgenius/openai/openai#tts-1-hd: alloy
          voice#langgenius/siliconflow/siliconflow#FunAudioLLM/CosyVoice2-0.5B: FunAudioLLM/CosyVoice2-0.5B:alex
          voice#langgenius/siliconflow/siliconflow#RVC-Boss/GPT-SoVITS: RVC-Boss/GPT-SoVITS:alex
          voice#langgenius/siliconflow/siliconflow#fishaudio/fish-speech-1.4: fishaudio/fish-speech-1.4:alex
          voice#langgenius/siliconflow/siliconflow#fishaudio/fish-speech-1.5: fishaudio/fish-speech-1.5:alex
          voice#langgenius/tongyi/tongyi#tts-1: sambert-zhinan-v1
        tool_description: 将文本转换为音频文件。
        tool_label: Text To Speech
        tool_name: tts
        tool_parameters:
          text:
            type: mixed
            value: '{{#1751529946013.output#}}'
        type: tool
      height: 271
      id: '1751530097959'
      position:
        x: 391.0056838989258
        y: 303
      positionAbsolute:
        x: 391.0056838989258
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: 风间影月
        desc: ''
        height: 126
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"这段工作流可以让用户输入手机号来查询该手机号是哪个运营商，并且转换成音频来下载播放。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 282
      height: 126
      id: '1751602463194'
      position:
        x: 121
        y: 587.0056838989258
      positionAbsolute:
        x: 121
        y: 587.0056838989258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 282
    - data:
        author: 风间影月
        desc: ''
        height: 150
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"children":[{"children":[{"detail":0,"format":3,"mode":"normal","style":"font-size:
          16px;","text":"运行结果","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"link","version":1,"rel":"noreferrer","target":null,"title":null,"url":""}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: yellow
        title: ''
        type: ''
        width: 244
      height: 150
      id: '1751602593567'
      position:
        x: 664
        y: 443.0056838989258
      positionAbsolute:
        x: 664
        y: 443.0056838989258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 244
    viewport:
      x: -6.5
      y: -196
      zoom: 1
