书中案例dsl/book.004 职业面试官（工作流）.yml
app:
  description: ''
  icon: male-technologist
  icon_background: '#FEF7C3'
  mode: workflow
  name: book.004 职业面试官（工作流）
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
kind: app
version: 0.2.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1749646498623-source-1749646510930-target
      source: '1749646498623'
      sourceHandle: source
      target: '1749646510930'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1749646489133-source-1749646498623-target
      source: '1749646489133'
      sourceHandle: source
      target: '1749646498623'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 职业名称
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: job_name
      height: 90
      id: '1749646489133'
      position:
        x: 408.0056838989258
        y: 130
      positionAbsolute:
        x: 408.0056838989258
        y: 130
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 5e7b7bd9-2a81-43f9-b7a1-5b6644e40079
          role: system
          text: 你的职业是{{#1749646489133.job_name#}}，工作经验丰富，为各大企业招聘候选人，现在请你出一个非常毒辣的面试题。
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        structured_output_enabled: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1749646498623'
      position:
        x: 408.0056838989258
        y: 282
      positionAbsolute:
        x: 408.0056838989258
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1749646498623'
          - text
          variable: text
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1749646510930'
      position:
        x: 403.0056838989258
        y: 430
      positionAbsolute:
        x: 403.0056838989258
        y: 430
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -381.1407314772241
      y: -81.0297634472638
      zoom: 1.3180453408428554
