书中案例dsl/book.025 智能批卷达人.yml
app:
  description: ''
  icon: '100'
  icon_background: '#E0EAFF'
  mode: advanced-chat
  name: book.025 智能批卷达人
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.14@d333909fe8d75a335b44da4b878d5120779b8703f12c21cf4730135d6864afbb
kind: app
version: 0.2.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types:
      - image
      - audio
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1752736568677-source-llm-target
      source: '1752736568677'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 54
      id: '1752736568677'
      position:
        x: 130.27692669298455
        y: 220.30368525214266
      positionAbsolute:
        x: 130.27692669298455
        y: 220.30368525214266
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: qwen-vl-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 9dc300c8-e07c-4e58-bb4c-fcfdc798bf09
          role: system
          text: '【角色】

            你是一个有着20多年丰富教学经验的老师，精通语数英物理化学等各门学科。


            【需求】

            根据用户上传的图片分析该学生的正确率，支出哪些题目答错，并且最终给与你的建议。

            '
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: true
      height: 90
      id: llm
      position:
        x: 130.27692669298455
        y: 316.69832235837225
      positionAbsolute:
        x: 130.27692669298455
        y: 316.69832235837225
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 105
      id: answer
      position:
        x: 130.27692669298455
        y: 457.7304472633948
      positionAbsolute:
        x: 130.27692669298455
        y: 457.7304472633948
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 207.04908019250018
      y: -298.20525639027505
      zoom: 1.8378257669580984
