书中案例dsl/book.015 批量读取文档并让大模型分析总结文档内容.yml
app:
  description: ''
  icon: printer
  icon_background: '#D3F8DF'
  mode: advanced-chat
  name: book.015 批量读取文档并让大模型分析总结文档内容
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
kind: app
version: 0.2.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1744511610364-source-1744511624336-target
      source: '1744511610364'
      sourceHandle: source
      target: '1744511624336'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: iteration
      id: 1744511624336-source-1751350685378-target
      source: '1744511624336'
      sourceHandle: source
      target: '1751350685378'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1751350685378'
        sourceType: iteration-start
        targetType: llm
      id: 1751350685378start-source-1751351030832-target
      source: 1751350685378start
      sourceHandle: source
      target: '1751351030832'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: iteration
        targetType: answer
      id: 1751350685378-source-answer-target
      source: '1751350685378'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: 文件列表
          max_length: 5
          options: []
          required: true
          type: file-list
          variable: files
      height: 89
      id: '1744511610364'
      position:
        x: 222.77942008830695
        y: 188.6085690700612
      positionAbsolute:
        x: 222.77942008830695
        y: 188.6085690700612
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1751350685378.output#}}'
        desc: ''
        selected: true
        title: 直接回复
        type: answer
        variables: []
      height: 104
      id: answer
      position:
        x: 222.77942008830695
        y: 592.739878009463
      positionAbsolute:
        x: 222.77942008830695
        y: 592.739878009463
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: true
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - '1744511610364'
        - files
      height: 91
      id: '1744511624336'
      position:
        x: 222.77942008830695
        y: 292.81366100968665
      positionAbsolute:
        x: 222.77942008830695
        y: 292.81366100968665
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 177
        is_parallel: false
        iterator_selector:
        - '1744511610364'
        - files
        output_selector:
        - '1751351030832'
        - text
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1751350685378start
        title: 迭代
        type: iteration
        width: 388
      height: 177
      id: '1751350685378'
      position:
        x: 142.8888496012608
        y: 399.96045792115626
      positionAbsolute:
        x: 142.8888496012608
        y: 399.96045792115626
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 388
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1751350685378start
      parentId: '1751350685378'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 166.8888496012608
        y: 467.96045792115626
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: true
          variable_selector:
          - '1751350685378'
          - item
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1751350685378'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 7604357a-223c-426e-897a-4db12eccf9e5
          role: system
          text: '【需求】

            根据提供的上下文内容，生成一则童话小故事，字数150以内。


            【上下文】

            {{#context#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1751351030832'
      parentId: '1751350685378'
      position:
        x: 99.34359971660302
        y: 65
      positionAbsolute:
        x: 242.23244931786382
        y: 464.96045792115626
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    viewport:
      x: 252.2239830278586
      y: -82.57886199204052
      zoom: 1.1515752039211857
