书中案例dsl/book.011 预判能力的导购助手.yml
app:
  description: ''
  icon: shopping_trolley
  icon_background: '#FCE7F6'
  mode: advanced-chat
  name: book.011 预判能力的导购助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
kind: app
version: 0.2.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1749650625034-source-1750911415634-target
      source: '1749650625034'
      sourceHandle: source
      target: '1750911415634'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1750911415634-1-answer-target
      source: '1750911415634'
      sourceHandle: '1'
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1750911415634-2-1750911506375-target
      source: '1750911415634'
      sourceHandle: '2'
      target: '1750911506375'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1750911415634-1750911516679-1750911511605-target
      source: '1750911415634'
      sourceHandle: '1750911516679'
      target: '1750911511605'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 53
      id: '1749650625034'
      position:
        x: 80.98375000077948
        y: 282
      positionAbsolute:
        x: 80.98375000077948
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1750911415634.class_name#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 104
      id: answer
      position:
        x: 698.6912500148107
        y: 282
      positionAbsolute:
        x: 698.6912500148107
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: 售前问题
        - id: '2'
          name: 售后问题
        - id: '1750911516679'
          name: 其他
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - '1749650625034'
        - sys.query
        selected: false
        title: 问题分类器
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 209
      id: '1750911415634'
      position:
        x: 374.5662161968733
        y: 282
      positionAbsolute:
        x: 374.5662161968733
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1750911415634.class_name#}}'
        desc: ''
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 104
      id: '1750911506375'
      position:
        x: 698.6912500148107
        y: 429.92121661157535
      positionAbsolute:
        x: 698.6912500148107
        y: 429.92121661157535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1750911415634.class_name#}}'
        desc: ''
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 104
      id: '1750911511605'
      position:
        x: 698.6912500148107
        y: 558.7924667136919
      positionAbsolute:
        x: 698.6912500148107
        y: 558.7924667136919
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 68.61775285386534
      y: -185.805401137326
      zoom: 1.157417295638271
