书中案例dsl/book.012 多路分支控制变量数据.yml
app:
  description: ''
  icon: flying_saucer
  icon_background: '#D5D9EB'
  mode: advanced-chat
  name: book.012 多路分支控制变量数据
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
kind: app
version: 0.2.0
workflow:
  conversation_variables:
  - description: 年龄
    id: b9231846-b21b-48c1-99b1-e20bc56ff490
    name: age
    selector:
    - conversation
    - age
    value: 18
    value_type: number
  - description: 用户名称
    id: 1a34f1ff-e2d5-4512-93c4-5e176b86f25e
    name: user_name
    selector:
    - conversation
    - user_name
    value: 风间影月
    value_type: string
  environment_variables:
  - description: ''
    id: 87547fac-80b8-422a-b910-58500a88e736
    name: password
    selector:
    - env
    - password
    value: ''
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1743998055251-source-1743998287781-target
      source: '1743998055251'
      sourceHandle: source
      target: '1743998287781'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1743998031422-source-1750990088620-target
      source: '1743998031422'
      sourceHandle: source
      target: '1750990088620'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1750990088620-1-1743998055251-target
      source: '1750990088620'
      sourceHandle: '1'
      target: '1743998055251'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1750990088620-2-1743998624138-target
      source: '1750990088620'
      sourceHandle: '2'
      target: '1743998624138'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1750990088620-1750990677113-17509906891560-target
      source: '1750990088620'
      sourceHandle: '1750990677113'
      target: '17509906891560'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 53
      id: '1743998031422'
      position:
        x: -111.54190603659178
        y: 270.6106908805592
      positionAbsolute:
        x: -111.54190603659178
        y: 270.6106908805592
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: constant
          operation: set
          value: 哈哈哈
          variable_selector:
          - conversation
          - user_name
          write_mode: over-write
        - input_type: constant
          operation: +=
          value: 8
          variable_selector:
          - conversation
          - age
          write_mode: over-write
        selected: true
        title: 变量赋值
        type: assigner
        version: '2'
      height: 115
      id: '1743998055251'
      position:
        x: 165.20253256742876
        y: 352.7571793468977
      positionAbsolute:
        x: 165.20253256742876
        y: 352.7571793468977
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '姓名：{{#conversation.user_name#}}

          年龄：{{#conversation.age#}}

          '
        desc: ''
        selected: false
        title: 直接回复 - 会话变量
        type: answer
        variables: []
      height: 104
      id: '1743998287781'
      position:
        x: 441.5436947598223
        y: 352.7571793468977
      positionAbsolute:
        x: 441.5436947598223
        y: 352.7571793468977
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '环境变量：

          {{#env.password#}}

          '
        desc: ''
        selected: false
        title: 直接回复 - 查看环境变量
        type: answer
        variables: []
      height: 104
      id: '1743998624138'
      position:
        x: 441.5436947598223
        y: 494.53574705045355
      positionAbsolute:
        x: 441.5436947598223
        y: 494.53574705045355
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: 会话变量
        - id: '2'
          name: 环境变量
        - id: '1750990677113'
          name: 其它
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - '1743998031422'
        - sys.query
        selected: false
        title: 问题分类器
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 209
      id: '1750990088620'
      position:
        x: -111.54190603659178
        y: 352.7571793468977
      positionAbsolute:
        x: -111.54190603659178
        y: 352.7571793468977
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '姓名：{{#conversation.user_name#}}

          年龄：{{#conversation.age#}}

          '
        desc: ''
        selected: false
        title: 直接回复 - 其它
        type: answer
        variables: []
      height: 104
      id: '17509906891560'
      position:
        x: 441.5436947598223
        y: 631.514331369794
      positionAbsolute:
        x: 441.5436947598223
        y: 631.514331369794
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 455.6445919436375
      y: -175.07644727316097
      zoom: 1.1750541709080957
